
<h1 style="color:red">
    New Comic
</h1>

<hr />

<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre"
           class="form-control" required />
    <label>Imagen:</label>
    <input type="text" name="imagen"
           class="form-control" required />
    <label>Despcripcion:</label>
    <input type="text" name="descripcion"
           class="form-control" required />
    
    <button class="btn btn-info">
        Create
    </button>
</form>

<hr />
<a asp-controller="Comics"
   asp-action="Index"
   class="btn btn-warning">
    Volver a Index
</a>
